<main>

    <div class="title-body">
        <h2>CONNEXION</h2>
    </div>

    <!-- VOS FEATURES ICI -->

    <div>
        <div class="">
            <div class="panel panel-default">
                <div class="panel-body">
                    
                    <p class="text-center text-muted">Si vous n'avez pas de compte cliquer sur <a href="http://localhost:4200/#/inscription">s'inscrire</a> et créer votre compte. </p>
                    <hr>
                    
                    <form>
                        <div class="top-margin">
                            <label>Email <span class="text-danger">*</span></label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="top-margin">
                            <label>Mot de passe <span class="text-danger">*</span></label>
                            <input type="password" class="form-control">
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-lg-8">
                                <label class="checkbox">
                                    
                                </label>                        
                            </div>
                            <div class="col-lg-4 text-right">
                                <button class="btn btn-action" type="submit">Se connecter</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

</main>