  /* ngbTooltip */

  ::ng-deep .tooltip-inner {
    background-color: var(--primary);
    color: var(--secondary);
    border: dotted 0.2px;
    border-color: var(--secondary);
    font-family: "Cinzel";
    font-size: 0.68rem;
  }