<main>
    <p>Home works !</p>

    <div class="jumbotron-fluid" style="display: flex; height:100vh">
        <div class="badge-danger"></div>
      
        <button type="button" style="margin: auto;" class="btn btn-outline-secondary mr-2" placement="top" ngbTooltip="Tooltip on top">
          Tooltip on top
        </button>
      
        <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Tooltip on top" style="margin: auto; ">TOTO</button>
      </div>
      
</main>