<nav class="navbar navbar-dark navbar-expand-sm bg-primary" #stickyMenu [class.sticky] = "sticky">

    <!-- BUTTON NAVBAR MOBILE -->

    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- NAVBAR -->
  
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['home']" [routerLinkActive]="['active']">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['boutique/colliers']" [routerLinkActive]="['active']">COLLIERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['boutique/bracelets']" [routerLinkActive]="['active']">BRACELETS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['boutique/boucles-oreilles']" [routerLinkActive]="['active']">BO</a>
        </li>
      </ul>

      <!-- DROPDOWN "A PROPOS" -->

      <div class="dropdown-divider"></div>
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <div class="a-propos" ngbDropdownToggle>A PROPOS</div>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem class="dropdown-item" [routerLink]="['a-propos/entretien-bijoux']" [routerLinkActive]="['active']">Entretien des bijoux</button>
                <button ngbDropdownItem class="dropdown-item" [routerLink]="['a-propos/la-marque']" [routerLinkActive]="['active']">La marque</button>
                <button ngbDropdownItem class="dropdown-item" [routerLink]="['lithotherapie-accueil']" [routerLinkActive]="['active']">Lithothérapie</button>
              </div>
            </div>
          </div>
        </div>
      
      </div>
  
  </nav>
  