/* NAVBAR */

nav {
  font-family: "Cinzel";
  font-size: 1.05rem;
}

#collapsibleNavbar {
    align-items: center;
    justify-content: center;
  }
  
.sticky{
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
  width: 100%;
}

.navbar-nav {
  padding-right: 0.5rem;
}

.nav-link {
  color: var(--fourth) !important;
}

.nav-link:hover {
  color: var(--secondary) !important;
}

.nav-link.active {
  color: var(--secondary) !important;
}

.dropdown-divider {
  border-top: 1px dotted var(--fourth) !important;
}

/* DROPDOWN "A PROPOS" */

.a-propos {
  color: var(--fourth) !important;
  cursor: pointer;
}

.a-propos:hover {
  color: var(--secondary) !important;
  cursor: pointer;
}

.a-propos.active {
  color: var(--secondary);
}

.btn-primary.dropdown-toggle {
  color: var(--fourth);
  background-color: var(--primary);
  border: none;
  box-shadow: none;
}

.btn-primary:hover {
  color: var(--secondary);
  background-color: var(--primary);
  border: none;
  box-shadow: none;
}

.btn-primary.dropdown-toggle:focus {
  color: var(--secondary);
  background-color: var(--primary);
  border: none;
  box-shadow: none;
}

.btn-primary.dropdown-toggle.active {
  color: var(--secondary);
  background-color: var(--primary);
  border: none;
  box-shadow: none;
}

.dropdown-item:hover {
  background-color: var(--primary-transparent);
  color: var(--secondary);
}

/*------------------------*/
/*---- Media Queries ----*/
/*----------------------*/
  
  /* mobile screens */
  @media screen and (max-width: 575px)
  {
    .a-propos {
      color: var(--fourth) !important;
      padding-bottom: 1rem;
    }
  }