a {
    text-decoration: none;
    color: var(--primary);
}

a:hover {
    color: var(--primary-transparent);
}

.connexion {
    float: left;
    font-style: italic;
    font-size: 1rem;
}

.panier {
    float: right;
    color: var(--secondary);
    font-size: 1rem;
  }

.number-of-products {
    font-size: 1rem;
    font-weight: bold;
}

.tooltip .tooltip-inner {
    max-width: 340px;
    text-align: left;
    background-color: #fff;
    color: #000;
    border-radius: 30px;
    box-shadow: 0 0 3px #00000040;
  }

/* mobile screens */
@media screen and (max-width: 767px)
{
    h1 {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .connexion {
        margin-left: 1rem;
    }

    .panier {
        margin-right: 1rem;
      }
}

/* tablet screens */

@media screen and (min-width: 768px) and (max-width: 959px)
{
    .connexion {
        margin-left: 5rem;
    }

    h1 {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .panier {
        margin-right: 5rem;
      }
}

/* tablet landscape & desktop screens */
@media screen and (min-width: 960px) and (max-width: 1199px)
{
    .connexion {
        margin-left: 5rem;
    }

    h1 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .panier {
        margin-right: 5rem;
      }
}

/* large screens */
@media screen and (min-width: 1200px)
{
    .connexion {
        margin-left: 5rem;
    }

    h1 {
        margin-top: 1.8rem;
        margin-bottom: 1.8rem;
    }

    .panier {
        margin-right: 5rem;
      }
}