.header {
    padding-top: 1rem;
    padding-bottom: 3rem;
    background-color: var(--secondary);
}

a {
    text-decoration: none;
    color: var(--primary);
}

a:hover {
    color: var(--primary-transparent);
}

.first-line {
    display: inline-block;
    width: 100%;
}

.connexion {
    float: left;
    font-style: italic;
    font-size: 1rem;
    margin-top: 0.2rem;
}

.panier {
    float: right;
    color: var(--secondary);
    font-size: 1.1rem;
}

.number-of-products {
    font-size: 1rem;
    font-weight: bold;
}

::ng-deep .tooltip-inner {
    background-color: var(--secondary);
    color: var(--primary);
    border: dotted 0.2px;
    border-color: var(--primary);
}
::ng-deep .bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: var(--primary) !important;
  }
  ::ng-deep.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
    border-right-color: var(--primary) !important;
  }
  ::ng-deep .bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    border-bottom-color: var(--primary) !important;
  }
  ::ng-deep.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
    border-left-color: var(--primary) !important;
  }

.logo-header {
    padding-top: 1rem;
}

/* mobile screens */
@media screen and (max-width: 767px)
{
    h1 {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .connexion {
        margin-left: 1rem;
    }

    .panier {
        margin-right: 1rem;
      }
}

/* tablet screens */

@media screen and (min-width: 768px) and (max-width: 959px)
{
    .connexion {
        margin-left: 5rem;
    }

    h1 {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .panier {
        margin-right: 5rem;
      }
}

/* tablet landscape & desktop screens */
@media screen and (min-width: 960px) and (max-width: 1199px)
{
    .connexion {
        margin-left: 5rem;
    }

    h1 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .panier {
        margin-right: 5rem;
      }
}

/* large screens */
@media screen and (min-width: 1200px)
{
    .connexion {
        margin-left: 8rem;
    }

    h1 {
        margin-top: 1.8rem;
        margin-bottom: 1.8rem;
    }

    .panier {
        margin-right: 8rem;
      }
}