a {
    text-decoration: none;
    color: var(--secondary);
}

a:hover {
    color: var(--third);
}

h1 {
    margin-bottom: 0rem;
}

.connexion {
    text-align: right;
    font-style: italic;
    margin-right: 5rem;
}