<main>

    <div class="title-body">
        <h2>INSCRIPTION</h2>
    </div>

    <!-- VOS FEATURES ICI -->

    <div>
        <div class="c">
            <div class="panel panel-default">
                <div class="panel-body">
                    
                    <p class="text-center text-muted">Si vous avez deja un compte cliquer sur  <a href="http://localhost:4200/#/connexion">se connecter</a> et connecter vous. </p>
                    <hr>

                    <form>
                        <div class="top-margin">
                            <label>Prénom <span class="text-danger">*</span></label>
                            <input type="text" class="form-control"required>
                        </div>
                        
                        <div class="top-margin">
                            <label>Nom <span class="text-danger">*</span></label>
                            <input type="text" class="form-control"required>
                        </div>
                        <div class="top-margin">
                            <label>Email <span class="text-danger">*</span></label>
                            <input type="text" class="form-control"required>
                        </div>

                        <div class="row top-margin">
                        
                            <div class="col-sm-6">
                                <label >Mot de passe <span class="text-danger">*</span></label>
                                <input type="password" class="form-control" required>
                            </div>
                            <div class="col-sm-6">
                                <label  >Confirmer le mot de passe <span class="text-danger">*</span></label>
                                <input type="password" class="form-control" required>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-lg-8">
                                <label class="checkbox">
                                    
                                </label>                        
                            </div>
                            <div class="col-lg-4 text-right">
                                <button class="btn btn-action" type="submit">S'inscrire</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

</main>