$theme-colors: (
  primary: #370028,
  primary-transparent: #370028b0,
  secondary: #ffffff,
  third: #000000,
  fourth: #bebebe,
  carbon-primary: #161c20,
  carbon-secondary: #23232e,
  text-primary: #2e2e2e,
  text-secondary: #C0C0C0,
) !default;