html {
  position: relative;
  min-height: 100vh;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

/* Fonts */

@font-face {
  font-family: "Cinzel";
  src: url("../assets/fonts/Cinzel-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Open-sans-light";
  src: url("../assets/fonts/Open-sans/OpenSans-Light.ttf");
}

@font-face {
  font-family: "Open-sans-regular";
  src: url("../assets/fonts/Open-sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open-sans-semi-bold";
  src: url("../assets/fonts/Open-sans/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: "Open-sans-bold";
  src: url("../assets/fonts/Open-sans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open-sans-italic";
  src: url("../assets/fonts/Open-sans/OpenSans-Italic.ttf");
}

/* Custom style */

main {
    text-align: center;
    width: 100%;
    padding-top: 1.6rem;
    padding-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
    min-height: 25rem;
    font-family: "Open-sans-regular";
  }

  a {
    text-decoration: none !important;
  }

  h2 {
    font-size: 1.6rem;
    font-family: "Cinzel";
    color: var(--primary);
    padding-bottom: 1.6rem;
    margin-bottom: 0rem;
  }
  
  h3 {
    font-size: 1.2rem;
    font-family: "Open-sans-light";
    color: var(--primary);
    padding-bottom: 1rem;
    margin-bottom: 0rem;
  }

  h4 {
    font-size: 1rem;
    font-family: "Open-sans-light";
    text-transform: uppercase;
    color: var(--primary);
    padding-bottom: 1rem;
    margin-bottom: 0rem;
  }

  h5 {
    font-size: 1.5rem;
    color: var(--primary);
  }

  h6 {
    font-size: 1rem;
    font-family: "Open-sans-italic";
    color: var(--primary);
    padding-bottom: 1rem;
    margin-bottom: 0rem;
  }

  .title-body {
    border-bottom: solid 1px;
    border-color: var(--primary);
    margin-bottom: 2.2rem;
  }

/*------------------------*/
/*----- NAV & TABS ------*/
/*----------------------*/

.nav-tabs .nav-item {
  margin-bottom: -1px;
  margin-right: 1rem;
  margin-left: 1rem;
}

.nav-tabs {
  margin-bottom: 2rem;
}

.tab-link {
  width: 15rem;
}

/*------------------------*/
/*---- Media Queries ----*/
/*----------------------*/
  
  /* mobile screens */
  @media screen and (max-width: 575px)
  {
    main {
      padding-right: 1rem;
      padding-left: 1rem;
      padding-bottom: 1rem;
    }
  }
  
  /* tablet screens */
  
  @media screen and (min-width: 576px) and (max-width: 959px)
  {
    main {
      padding-right: 2.5rem;
      padding-left: 2.5rem;
      padding-bottom: 3rem;
    }
  }
  
  /* tablet landscape & desktop screens */
  @media screen and (min-width: 960px) and (max-width: 1199px)
  {
    main {
      padding-right: 4rem;
      padding-left: 4rem;
      padding-bottom: 4rem;
    }
  }
  
  /* large screens */
  @media screen and (min-width: 1200px)
  {
    main {
      max-width: 62rem;
      padding-right: 5rem;
      padding-left: 5rem;
    }
  }
  