html {
  position: relative;
  min-height: 100vh;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

main {
    text-align: center;
    width: 100%;
    padding-top: 1.6rem;
    padding-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
    min-height: 25rem;
  }

  a {
    text-decoration: none;
  }

  h2 {
    font-size: 1.6rem;
    color: var(--primary);
    padding-bottom: 1.6rem;
    margin-bottom: 0rem;
  }

  .title-body {
    border-bottom: solid 1px;
    border-color: var(--primary);
    margin-bottom: 2.2rem;
  }

/*------------------------*/
/*---- Media Queries ----*/
/*----------------------*/
  
  /* mobile screens */
  @media screen and (max-width: 767px)
  {
    main {
      padding-right: 1rem;
      padding-left: 1rem;
      padding-bottom: 1rem;
    }
  }
  
  /* tablet screens */
  
  @media screen and (min-width: 768px) and (max-width: 959px)
  {
    main {
      padding-right: 3rem;
      padding-left: 3rem;
      padding-bottom: 3rem;
    }
  }
  
  /* tablet landscape & desktop screens */
  @media screen and (min-width: 960px) and (max-width: 1199px)
  {
    main {
      padding-right: 4rem;
      padding-left: 4rem;
      padding-bottom: 4rem;
    }
  }
  
  /* large screens */
  @media screen and (min-width: 1200px)
  {
    main {
      max-width: 62rem;
      padding-right: 5rem;
      padding-left: 5rem;
    }
  }
  