<main>
  <div class="title-body">
    <h2>
      BIENVENUE
      <!--{{ user.prenom }}-->
      !
    </h2>
  </div>

  <div class="container">
    <form [formGroup]="Form" (ngSubmit)="onSubmit()">
      <h3>CRUD Users</h3>
      <div class="row">
        <table class="table" aria-describedby="My Forms">
          <tr>
            <th scope="col">Nom</th>
            <td>
              <input type="hidden" formControlName="id" />
              <input type="text" formControlName="lastname" />
              <div
                *ngIf="submitted && Form.controls.lastname.errors"
                class="text-danger"
              >
                <div *ngIf="Form.controls.lastname.errors.required">
                  lastname is required
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <th scope="col">Prénom</th>
            <td>
              <input type="text" formControlName="firstname" />
              <div
                *ngIf="submitted && Form.controls.firstname.errors"
                class="text-danger"
              >
                <div *ngIf="Form.controls.firstname.errors.required">
                  firstname is required
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="col">Mail</th>
            <td>
              <input type="text" formControlName="mail" />
              <div
                *ngIf="submitted && Form.controls.mail.errors"
                class="text-danger"
              >
                <div *ngIf="Form.controls.mail.errors.required">
                  mail is required
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="col">Password</th>
            <td>
              <input type="text" formControlName="password" />
              <div
                *ngIf="submitted && Form.controls.password.errors"
                class="text-danger"
              >
                <div *ngIf="Form.controls.password.errors.required">
                  password is required
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <button type="submit" class="btn btn-primary">
                {{ EventValue }}
              </button>
            </td>
          </tr>
        </table>
      </div>

      <div class="row">
        <table class="table table-striped" aria-describedby="My Students">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Mail</th>
            <th scope="col">Date</th>
            <th scope="col">Edition</th>
            <th scope="col">Supression</th>
          </tr>

          <tr *ngFor="let d of data">
            <td>{{ d.id }}</td>
            <td>{{ d.lastname }}</td>
            <td>{{ d.firstname }}</td>
            <td>{{ d.mail }}</td>
            <td>{{ d.updated_at | date: "y-MM-dd" }}</td>
            <td>
              <a (click)="EditData(d)" class="btn btn-warning">Edition</a>
            </td>
            <td>
              <a (click)="deleteData(d.id)" class="btn btn-danger"
                >Supression</a
              >
            </td>
          </tr>
        </table>
      </div>
    </form>
  </div>
</main>
